*{margin: 0; padding: 0;}

header{
    width: 100%;
    height: 100px;
    background-color: #4D5350;
    color: white;
    font-family: 'Cabin', sans-serif;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.centerlinks{
    margin: auto;
    display: flex;
    text-align: center;
}

.centerlinks2{
    margin: auto;
    text-align: center;
    display: grid;
    font-size: 18px;
}

#btnSesion{
    background-color: #2CA475;
    color: white;
    font-family: 'Cabin',sans-serif;
    border: 1.5px solid #413F3F;
    border-radius: 4px;
    font-size: 18px;
    width: 150px;
    height: 40px;
    margin-left: 16px;
}

.centernav{
    width: 300px;
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

#finder{
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    text-decoration: none;
    border: hidden;
    width: 300px;
    height: 28px;
    border: 1.5px solid #413F3F;
}

#finder:focus{
    outline: none;
}

.image{
    border: hidden;
    height: 480px;
    width: 100%;
    margin: auto;
}

.enfoque{
    background-color: #E9E9E9;
    width: 100%;
    height: 800px;
    font-family: 'Cabin', sans-serif ;
}

.head{
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 80px;
}

.linebar{
    background-color: #303030;
    margin: auto;
    margin-top: 8px;
    width: 80%;
    height: 2.5px;
}

.box{
    border: 1px solid black;
    width: 80%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.box1{
    border: 1px solid black;
    width: 550px;
    height: 500px;
    margin: auto;
    
}
