*{margin: 0; padding: 0;}

header{
    width: 100%;
    height: 100px;
    background-color: #4D5350;
    color: white;
    font-family: 'Cabin', sans-serif;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.centerlinks{
    margin: auto;
    display: flex;
    text-align: center;
}

.centerlinks2{
    margin: auto;
    text-align: center;
    display: grid;
    font-size: 18px;
}

#btnSesion{
    background-color: #2CA475;
    color: white;
    font-family: 'Cabin',sans-serif;
    border: 1.5px solid #413F3F;
    border-radius: 4px;
    font-size: 18px;
    width: 150px;
    height: 40px;
    margin-left: 16px;
}

.centernav{
    width: 300px;
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

#finder{
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    text-decoration: none;
    border: hidden;
    width: 300px;
    height: 28px;
    border: 1.5px solid #413F3F;
}

#finder:focus{
    outline: none;
}

.image{
    border: hidden;
    height: 480px;
    width: 100%;
    margin: auto;
}

.container{
    width: 100%;
    height: 980px;
    font-family: 'Cabin', sans-serif ;
}

.container2{
    width: 100%;
    height: 980px;
    font-family: 'Cabin', sans-serif ;
    background-image: url(/src/landingimage/flowers.png);
    background-repeat: no-repeat;
    background-size: 100% 350px;
    background-position: bottom;
}

.head{
    font-size: 20px;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 80px;
}

.linebar{
    margin: auto;
    margin-top: 8px;
    width: 80%;
    height: 2.5px;
}

.box{
    width: 80%;
    height: 800px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin: auto;

}

.box2{
    width: 80%;
    height: 800px;
    margin: auto;

}

.box1{
    border: outset #303030;
    box-shadow: 6px 10px 50px #413F3F;
    width: 550px;
    height: 500px;
    margin: auto;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    display: grid;
}

.box1 h1{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 40px;
}

.box1 p{
    font-size: 20px;
}

.princ{
    width: 1200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.val{
    width: 1200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt{
    color: white;
    width: 350px;
    height: 80%;
    margin: auto;
}

.txt h1{
    text-align: center;
    font-size: 45px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-shadow: 0 0 2px #f1f1f1;
}

.txt p{
    text-align: center;
    font-size: 28px;
    text-shadow: 0 0 3px #f1f1f1;
}

footer{
    width: 100%;
    height: 180px;
    background-color: #4D5350;
    color: white;
    font-family: 'Cabin', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-area{
    /* border: 1px solid gray; */
    width: 250px;
    text-align: center;
    margin: auto;
}