*{margin: 0; padding: 0;}

header{
    width: 100%;
    height: 60px;
    background-color: #4D5350;
    color: white;
    font-family: 'Cabin', sans-serif;
    display: flex;
    align-items: center;
}

header .log{
    margin-left: 12px;
}


header .centernav{
    display: flex;
    margin: auto;
}

a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

#finder{
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    border: hidden;
    margin-right: 20px;
}

#finder:focus{
    outline: none;
}

.image{
    border: hidden;
    height: 120px;
    width: 100%;
    margin-bottom: 16px;
}

.head-sections{
    font-family: 'Cabin', sans-serif ;
}

#titulo-cultivo{
    text-align: center;
    color: white;
}

.cultivos{
    background-color: #597869;
}
.linebar{
    background-color: #4D5350;
    margin: auto;
    width: 90%;
    height: 2.5px;
}

.tarjetas{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
}

.grano{
    background-color: aliceblue;
    width: 180px;
    height: 230px;
    border-radius: 15px;
    font-size: 18px;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    margin: auto;
    display: grid;
    align-items: center;
    justify-content: center;

}

.areas{
    background-color: #D9D9D9;
    text-align: center;
    color: #413F3F;
    width: 100%;
    height: 60vh;
}

.area-div{
    font-size: 18px;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #5E5D5D;
    color: white;
    width: 450px;
    margin: auto;
    border-radius: 10px;
}

.text-area{
    margin: auto;
}

footer{
    width: 100%;
    height: 60px;
    background-color: #4D5350;
    color: white;
    font-family: 'Cabin', sans-serif;
    display: flex;
    align-items: center;
}