*{margin: 0; padding: 0;}

body{
    font-family: 'Cabin', sans-serif;
}

nav{
    background-color: #4D5350;
    width: 100%;
    height: 6em;
    display: flex;
    justify-content: center;
    margin: auto;
}

.navcomponents1{
    width: 10em;
    font-size: 25px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.navcomponents2{
    width: 55em;
    display: grid;
    justify-items: center;
    align-content: center;
    text-decoration: none;
    text-align: center;
}

.navcomponents2 a{
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 20px;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
    
}

#finder{
    text-align: center;
    font-size: 16px;
    border-radius: 17px;
    text-decoration: none;
    border: hidden;
    width: 450px;
    height: 35px;
    margin-bottom: 10px;
}

#finder:focus{
    outline: none;
}
.navcomponents3{
    width: 22em;
    display: flex;
    justify-content: right;
    align-items: center;
    
}

.navcomponents3 a{
    margin-left: 12px;
    margin-right: 12px;
}

.btn{
    width: 120px;
    height: 48px;
    border-radius: 14px;
    border: 1.5px solid #413F3F;
    box-shadow: 2px 2px 2px #413F3F;
    font-size: 16px;
    font-family: 'Cabin', sans-serif;
    margin-left: 12px;
    margin-right: 12px;

}

.image{
    border: hidden;
    height: 120px;
    width: 100%;
    margin-bottom: 16px;
    
}

.head-sections{
    font-family: 'Cabin', sans-serif ;
}

#titulo-cultivo{
    text-align: center;
    color: white;
}

.cultivos{
    background-color: #597869;
}
.linebar{
    background-color: #4D5350;
    margin: auto;
    width: 90%;
    height: 2.5px;
}

.tarjetas{
    width: 80%;
    height: 400px;
    display: flex;
    align-items: center;
    margin: auto;
}

.grano{
    background-color: aliceblue;
    width: 180px;
    height: 230px;
    border-radius: 15px;
    font-size: 18px;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    margin: auto;
    display: grid;
    align-items: center;
    justify-content: center;

}

.areas{
    background-color: #D9D9D9;
    text-align: center;
    color: #413F3F;
    width: 100%;
    height: 60vh;
    margin: auto;
}

.area-div{
    font-size: 18px;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #5E5D5D;
    color: white;
    width: 450px;
    margin: auto;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.text-area{
    margin: auto;
}

footer{
    width: 100%;
    height: 180px;
    background-color: #4D5350;
    color: white;
    font-family: 'Cabin', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-area{
    /* border: 1px solid gray; */
    width: 250px;
    text-align: center;
    margin: auto;
}