.box{
    background-color: var(--color-white);
    width: 100%;
    height: 90%;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radios-3);
    padding: 2em;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box h1{
    width: 80%;
    align-items: start;
}

.info{
    width: 80%;
    min-height: 80%;
    height: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputs{
    border-bottom: 1px solid var(--color-dark-variant);
    font-size: 1.2vw;
    border-radius: var(--border-radios-2);
    text-align: center;
    width: 40%;
    margin-top: 5px;
    margin-bottom: 30px;
}

.inputs:hover{
    background-color: var(--color-background);
    color: var(--color-primary);
    border: 1px solid var(--color-dark-variant);
}

#btnSend{
    background-color: #21825C;
    color: white;
    font-size: 1vw;
    width: 10%;
    height: 2.5vw;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 1px 4px #4D5350;
    margin-top: 12px;
}

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #d21616;
    margin-bottom: 20px;
}


/*==============MEDIA QUERY TABLET==================*/
@media screen and (max-width: 1200px) {
    
    .info{
        width: 80%;
        min-height: 80%;
        height: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .inputs{
        font-size: 1.8vw;
        width: 65%;
    }

    #btnSend{
        font-size: 1.8vw;
        width: 30%;
        height: 3vw;
    }

}

/*==============MEDIA QUERY mobile==================*/
@media screen and (max-width:768px) {
    .box{
        height: 150vw;
    }
    
    .info{
        margin-top: 12px;
        width: 80%;
        height: 120vw;
    }
    
    .inputs{
        font-size: 3.8vw;
        height: 10vw;
        width: 65%;
    }

    #btnSend{
        font-size: 3.8vw;
        height: 10vw;
    }
}

