@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}


html {
    max-width: 100%;
    overflow-x: hidden;
}

header{
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #4D5350;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 15px rgba(0,0,0,0.5);
}

.logo{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
}

.logo img{
    width: 30%;
}

.group{
    display: flex;
    align-items: center;
}

header ul{
    position: relative;
    display: flex;
    gap: 30px;
}

header ul li{
    list-style: none;
}

header ul li a{
    position: relative;
    text-decoration: none;
    font-size: 1em;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

header ul li a::before{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #333;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

header ul li a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}

header .search{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    z-index: 10;
    cursor: pointer;
}

.searchbox{
    position: absolute;
    width: 0px;
    height: 0px;
    display: none;
    
}

.searchbox.active{
    
    height: 12%;
    width: 100%;
    display: flex;
    right: 0;
    padding: 0 30px;
    background: #ffffff;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.searchbox input{
    width: 100%;
    border: none;
    outline: none;
    color: #333;
    height: 50px;
    font-size: 1.25em;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}


.searchbtn{
    position: relative;
    left: 30px;
    top: 2.5px;
    transition: 0.5s ease-in-out;
    color: #ffffff;
}

.searchbtn.active{
    left: 0;
}

.closebtn{
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    scale: 0;
}

.closebtn.active{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    scale: 1;
}

body{
    display: block;
    background: #ffffff;
    min-height: 100vh;
    overflow-x: hidden;
}

.menutoggle{
    position: relative;
    display: none;
    color: #ffffff;
}

/* Aqui culmina el navbar */

.container{
    width: 100%;
    height: relative;
    background-color: #DEDEDE;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

.box{
    width: 90%;
    height: relative;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 2px 3px 8px #413F3F;
}

.photo{
    width: 90%;
    min-height: 45vw;
    height: relative;
    border-bottom: 2px solid rgb(57, 57, 57);
    padding-top: 12px;
    display: grid;
    align-items: center;
    justify-items: center;
    margin-bottom: 20px;
}

.photo .video{
    border: 1px solid black;
    width: 65%;
    height: 90%;
}

.photo .video video{
    width: 100%;
    height: 100%;
}

.bx1{
    height: relative;
    width: 80%;
    padding: 1em;
    display: grid;
}

h2{
    width: 90%;
    height: 1em;
    font-size: 3.5vw;
    font-family: 'Inter', sans-serif;
    margin-left: 20px;
    margin-bottom: 3px;
    text-align: left;

}

.inputs {
    background-color: #E4E4E4;
    border-radius: 40px;
    border: none;
    width: 90%;
    height: 10vw;
    text-align: center;
}

.btnAcount{
    background-color: #2CA475;
    width: 40%;
    height: 10vw;
    padding: 1em;
    text-align: center;
    margin: auto;
    color: white;
    font-size: 3.2vw;
    font-weight: bold;
    border: none;
    box-shadow: 1px 1px 4px #4D5350;
}

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #B06AB3;
    padding-top: 20px;
    margin-bottom: 20px;
}










footer{
    width: 100%;
    height: relative;
    min-height: 20vw;
    background-color: #4D5350;
    color: white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1em;
}
#map{
    border-radius: 20px;
    padding: 1em;
    width: 70%;
    min-height: 40vw;
    height:  40vw;
    max-height: 300px;
    margin-bottom: 20px;
}

.foot-area{
    height: relative;
    width: 100%;
    font-size: 4vw;
    text-align: center;
    padding: 1em;
}

.foot-area .icon-red{
    width: 100%;
    height: relative;
    display: flex;
    gap: 1em;
    margin: auto;
    justify-content: center;
}

.foot-area .icon-red img{
    width: 100%;
}





@media (min-width: 930px){
 footer{
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }

    #map{
        grid-column: 1/4;
        width: 90%;
        min-height: 20vw;
        height:  30vw;
        margin-top: 20px;
        margin-bottom: 20px;

    }
    
    .foot-area{
        height: relative;
        width: 100%;
        font-size: 2vw;
    }
    
    .foot-area .icon-red{
        width: 100%;
        height: relative;
    }
    
    .foot-area .icon-red img{
        width: 100%;
    }
}

@media (max-width: 800px) {
    .searchbtn{
        left: 0;
    }
    
    .menutoggle{
        position: absolute;
        display: block;
        font-size: 2em;
        cursor: pointer;
        transform: translateX(30px);
        z-index: 10;
    }
    
    header .navigation{
        position: absolute;
        opacity: 0;
        visibility: hidden;
        left: 100%;
    }

    header.open .navigation{
        top: 80px;
        opacity: 1;
        visibility: visible;
        left: 0;
        display: flex;
        flex-direction: column;
        background-color: #4D5350 ;
        width: 100%;
        height: calc(100vh - 80px);
        padding: 40px;
        border-top: 1px solid rgba(0,0,0,0.05);
    }

    header.open .navigation li a{
        font-size: 1.25em;

    }

    ul.navigation {
        display: none;
    }
    
    .hide{
        display: none;
    }
}

@media (min-width: 860px){

    .photo{
        min-height: 30vw;
        height: relative;
    }

    .video{
        width: 50%;
        height: ;
    }
    
    .box{
        width: 70%;
        width: 32em;
    }

    .bx1 h2{
        font-size: 2.5vw;
        
    }

    .inputs{
        height: 7vw;
    }

    .btnAcount{
        width: 40%;
        height: 7vw;
        padding: 1em;
        color: white;
        font-size: 2.5vw;
    }
}

@media (min-width: 930px){
    
    .box{
        flex-direction: row;
        width: 70%;
    }

    .photo{
        border-bottom: none;
        border-right: 2px solid rgb(57, 57, 57);
    }
    
    .bx1 h2{
        font-size: 1em;
    }

    .inputs{
        height: 4vw;
        max-height: 50px;
    }

    .btnAcount{
        width: 30%;
        height: 3.5vw;
        padding: 1em;
        color: white;
        font-size: 1.2vw;
    }
}