@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}



body {

}

html {
    max-width: 100%;
    overflow-x: hidden;
}

header{
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #4D5350;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 15px rgba(0,0,0,0.5);
}

.logo{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
}

.logo img{
    width: 30%;
}

.group{
    display: flex;
    align-items: center;
}

header ul{
    position: relative;
    display: flex;
    gap: 30px;
}

header ul li{
    list-style: none;
}

header ul li a{
    position: relative;
    text-decoration: none;
    font-size: 1em;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

header ul li a::before{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #333;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

header ul li a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}

header .search{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    z-index: 10;
    cursor: pointer;
}

.searchbox{
    position: absolute;
    width: 0px;
    height: 0px;
    display: none;
    
}

.searchbox.active{
    
    height: 12%;
    width: 100%;
    display: flex;
    right: 0;
    padding: 0 30px;
    background: #ffffff;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.searchbox input{
    width: 100%;
    border: none;
    outline: none;
    color: #333;
    height: 50px;
    font-size: 1.25em;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}


.searchbtn{
    position: relative;
    left: 30px;
    top: 2.5px;
    transition: 0.5s ease-in-out;
    color: #ffffff;
}

.searchbtn.active{
    left: 0;
}

.closebtn{
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    scale: 0;
}

.closebtn.active{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    scale: 1;
}

body{
    display: block;
    background: #ffffff;
    min-height: 100vh;
    overflow-x: hidden;
}

.menutoggle{
    position: relative;
    display: none;
    color: #ffffff;
}

/* Aqui culmina el navbar */
.container{
    width: 100%;
    padding: 1em;
    height: relative;
    min-height: 850px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEDEDE;
}

.box{
    padding: 1em;
    width: 80%;
    height: relative;
    max-width: 550px;
    max-height: 950px;
    min-height: 500px;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 2px 5px 8px #a7a4a4;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    margin-top: 5%;
    margin-bottom: 5%;

}

.items{
    border-bottom: 2px solid rgb(26, 26, 26);
    display: grid;
    align-content: center;
    justify-items: center;
    font-size: 3vw;
    margin: auto;
    width: 80%;
    height: 40vw;
}

.items img{
    width: 30%;
}


.info{
    padding: 1em;
    width: 80%;
    height: relative;
    min-height: 40vw;
    display: grid;
    align-content: center;
    justify-items: center;
}

.info h2{
    width: 95%;
    height: relative;
    font-size: 3.5vw;
    font-family: 'Inter', sans-serif;
    margin-left: 20px;
    margin-bottom: 1vw;
    text-align: left;

}

.inputs {
    background-color: #E4E4E4;
    border-radius: 40px;
    border: none;
    width: 100%;
    height: 10vw;
    margin-bottom: 0px;
}

#btnSend{
    background-color: #21825C;
    color: white;
    font-size: 4.5vw;
    width: 40%;
    height: 10vw;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 1px 4px #4D5350;
    margin-top: 12px;
}


footer{
    width: 100%;
    height: 180px;
    background-color: #4D5350;
    color: white;
    font-family: 'Cabin', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-area{
    /* border: 1px solid gray; */
    width: 250px;
    text-align: center;
    margin: auto;
}



/* Mediaquery de menu*/
@media (max-width: 800px) {
    
    .searchbtn{
        left: 0;
    }
    
    .menutoggle{
        position: absolute;
        display: block;
        font-size: 2em;
        cursor: pointer;
        transform: translateX(30px);
        z-index: 10;
    }
    
    header .navigation{
        position: absolute;
        opacity: 0;
        visibility: hidden;
        left: 100%;
    }

    header.open .navigation{
        top: 80px;
        opacity: 1;
        visibility: visible;
        left: 0;
        display: flex;
        flex-direction: column;
        background-color: #4D5350 ;
        width: 100%;
        height: calc(100vh - 80px);
        padding: 40px;
        border-top: 1px solid rgba(0,0,0,0.05);
    }

    header.open .navigation li a{
        font-size: 1.25em;

    }

    ul.navigation {
        display: none;
    }
    
    .hide{
        display: none;
    }
}
/*-------------------------------*/

@media (min-width:830px){
    .items{
        font-size: 2.2vw;
    }

    .items img{
        width: 30%;
    }

    .info h2{
        font-size: 2.4vw;
    }
    
    .inputs {
        background-color: #E4E4E4;
        border-radius: 40px;
        border: none;
        width: 100%;
        height: 5vw;
        margin-bottom: 40px;
    }
    
    #btnSend{
        font-size: 2.4vw;
        width: 40%;
        height: 6vw;
    }
}

@media (min-width: 930px){
    .box{
        width: 70%;
        max-width: 850px;
        display: flex;
        flex-direction: row;
        max-height: 400px;
    }
    
    .items{
        border-right: 2px solid rgb(26, 26, 26);
        border-bottom: none;
        font-size: 1.5vw;
        max-height: 400px;
    }

    .items img{
        width: 30%;
    }

    .info{
        min-height: 0vh;
        max-height: 400px;
    }

    .info h2{
        font-size: 1vw;
        margin-bottom: 2px;
    }
    
    .inputs {
        background-color: #E4E4E4;
        border-radius: 40px;
        border: none;
        width: 100%;
        height: 3.2vw;
        margin-bottom: 40px;
        margin-top: 2px;
    }

    #btnSend{
        font-size: 1.2vw;
        width: 40%;
        height: 3vw;
    }
}