@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}



body {

}

html {
    max-width: 100%;
    overflow-x: hidden;
}

header{
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #4D5350;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 15px rgba(0,0,0,0.5);
}

.logo{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
}

.logo img{
    width: 30%;
}

.group{
    display: flex;
    align-items: center;
}

header ul{
    position: relative;
    display: flex;
    gap: 30px;
}

header ul li{
    list-style: none;
}

header ul li a{
    position: relative;
    text-decoration: none;
    font-size: 1em;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

header ul li a::before{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #333;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

header ul li a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}

header .search{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    z-index: 10;
    cursor: pointer;
}

.searchbox{
    position: absolute;
    width: 0px;
    height: 0px;
    display: none;
    
}

.searchbox.active{
    
    height: 12%;
    width: 100%;
    display: flex;
    right: 0;
    padding: 0 30px;
    background: #ffffff;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.searchbox input{
    width: 100%;
    border: none;
    outline: none;
    color: #333;
    height: 50px;
    font-size: 1.25em;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}


.searchbtn{
    position: relative;
    left: 30px;
    top: 2.5px;
    transition: 0.5s ease-in-out;
    color: #ffffff;
}

.searchbtn.active{
    left: 0;
}

.closebtn{
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    scale: 0;
}

.closebtn.active{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    scale: 1;
}

body{
    display: block;
    background: #ffffff;
    min-height: 100vh;
    overflow-x: hidden;
}

.menutoggle{
    position: relative;
    display: none;
    color: #ffffff;
}

/* Aqui culmina el navbar */

.container{
    width: 100%;
    padding: 1em;
    height: relative;
    min-height: 850px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262F2C;
}

.box {
    padding: 1em;
    width: 80%;
    height: relative;
    max-width: 550px;
    max-height: 950px;
    min-height: 500px;
    background-color: #FFFFFF;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    margin-top: 5%;
    margin-bottom: 5%;
}

.bx{
    width: 100%;
    height: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
}

.bx1{
    font-size: 3vw;
    border-bottom: 2px solid #333;
    width: 85%;
}

.bx1 h2{
    margin-left: 20px;
}

.bx2{
    background-color: #E4E4E4;
    border-radius: 10px;
    width: 85%;
    height: 25vw;
    overflow: hidden;
    overflow-y: scroll;
}

table{
    width: 100%;
    height: 100%;
    font-size: 3vw;
    font-weight: 100;
}

tr, td{
    text-align: center;
    align-items: center;
    padding: 0.5em;
}

table .first-colum{
    text-align: left;
}

tbody{
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.bx3{
    font-size: 3vw;
    border-top: 2px solid #333;
    width: 85%;
    display: grid;
    grid-template-columns: 50% 40%;
}

.bx3 h2{
    margin-left: 20px;
}

.bx3 h3{
    text-align: right;
}

.bx4{
    width: 100%;
    height: 40vw;
    border-top:1px solid rgb(152, 152, 152) ;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caja1{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    align-items: center;
    padding: 1em;
}

.inputs{
    width: 90%;
    height: 7vw;
    border: none;
    text-align: center;
    font-size: 3vw;
    border-radius: 10px;
    background-color: #E8E8E8;
    box-shadow: 5px 5px 5px rgb(202, 202, 202);
}

.caja2{
    width: 100%;
    display: flex;
}

.caja2 .inputs{
    width: 32%;
    margin: auto;
}


#btnSend{
    background-color: #21825C;
    color: white;
    font-size: 3vw;
    width: 30%;
    height: 8vw;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 1px 4px #4D5350;
    margin-top: 12px;
}




footer{
    width: 100%;
    height: 180px;
    background-color: #4D5350;
    color: white;
    font-family: 'Cabin', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-area{
    /* border: 1px solid gray; */
    width: 250px;
    text-align: center;
    margin: auto;
}


/* Mediaquery de menu*/
@media (max-width: 800px) {
    
    .searchbtn{
        left: 0;
    }
    
    .menutoggle{
        position: absolute;
        display: block;
        font-size: 2em;
        cursor: pointer;
        transform: translateX(30px);
        z-index: 10;
    }
    
    header .navigation{
        position: absolute;
        opacity: 0;
        visibility: hidden;
        left: 100%;
    }

    header.open .navigation{
        top: 80px;
        opacity: 1;
        visibility: visible;
        left: 0;
        display: flex;
        flex-direction: column;
        background-color: #4D5350 ;
        width: 100%;
        height: calc(100vh - 80px);
        padding: 40px;
        border-top: 1px solid rgba(0,0,0,0.05);
    }

    header.open .navigation li a{
        font-size: 1.25em;

    }

    ul.navigation {
        display: none;
    }
    
    .hide{
        display: none;
    }
}
/*-------------------------------*/

@media (min-width: 830px){
    .box{
        width: 60%;
    }

    .bx1 h2{
        font-size: 3vw;
    }

    .bx2{
        height: 20vw;
    }

    table{
        font-size: 2.5vw;
    }

    .bx3{
        font-size: 2.5vw;
    }
    
    .bx4{
        height: 30vw;

    }

    .inputs{
        height: 4.5vw;
        font-size: 2.8vw;
    }

    #btnSend{
        font-size: 2.5vw;
        height: 5vw;
    }
}

@media (min-width: 1200px){
    .box{
        max-width: 2000px;
        width: 70%;
        flex-direction: row;
    }

    .bx1 h2{
        font-size: 2.5vw;
    }

    .bx2{
        height: 25vw;
    }

    table{
        font-size: 1.5vw;
    }

    .bx3{
        font-size: 1.4vw;
    }
    
    .bx4{
        border-top: none;
        border-radius: 10px;
        height: 30vw;
        gap: 1.8em;
    }

    .inputs{
        height: 2.8vw;
        font-size: 1.5vw;
    }

    #btnSend{
        font-size: 1.5vw;
        height: 2.5vw;
    }
}